:root {
    --black: #020202;
    --dark-grey: #121212;
    --grey: #1E1E1E;
    --steel-grey: #44475a;
    --light-grey: #E4E4E4;
    --white: #F6F6F6;
    --pink: #FF79C6;
    --orange: #FFC457;
    --green: #87FFA6;
    --dark-green: #32C95B;
    --blue: #8BE9FD;
    --purple: #B990F4;
}


/* main elements */
    body {
        background-color: var(--grey);
    }
    /* Note title */
    .roam-app h1 {
        color: var(--blue) !important;
    }
    /* Writing text colour */
    .roam-app {
        color: var(--white) !important;
    }
    /* Bullet colour */
    .simple-bullet-inner {
        background-color: var(--light-grey)!important;
    }
    .roam-bullet-closed {
        background-color: var(--steel-grey)!important;
    }
    /* helper border colour */
    .block-border-left {
        border-color: var(--steel-grey);
    }
    /* hashtag colour */
    .rm-page-ref-tag {
        color: var(--green) !important;
    }
    /* block references */
    .rm-block-ref {
        border-bottom: 1px dashed var(--steel-grey);
    }
    .rm-block-ref:hover {
        background: var(--dark-grey);
    }
    /* block selection highlight */
    .block-highlight-blue {
        background-color: var(--steel-grey);
    }
    /* links */
    a, a:focus, a:hover {
        color: var(--blue);
    }
    /* inline code */
    code {
        color: var(--light-grey);
        background: var(--dark-grey);
        border: 1px solid var(--black);
    }
    /* block reference */
    .roam-block-container, .rm-embed-container {
        background-color: var(--grey);
    }
    /* bottom references */
    .rm-reference-item {
        background-color: var(--grey)!important;
    }
    .rm-page-ref.rm-page-ref-link-color, .rm-page-ref:hover {
        color: var(--pink);
    }
    /* command suggestor */
    .bp3-elevation-3 {
        background: var(--grey)!important;
    }
    .dont-unfocus-block[style*="background-color"] {
        background-color: var(--dark-grey)!important;
    }
    /* checkbox */
    .check-container input:checked ~ .checkmark {
        background-color: var(--dark-green);
    }
    .block-ref-count-button {
        color: var(--white)!important;
    }
    /* chart */
    g circle {
        fill: var(--green);
    }
    /* tweet */
    .EmbeddedTweet {
        background-color: var(--grey)!important;
        color: var(--white)!important;
    }
    /* multiline code blocks */
    .CodeMirror {
        background: var(--black);
        color: #589cab;
    }
    .CodeMirror-lines {
        color: var(--light-grey)
    }
    .CodeMirror-gutters {
        background-color: var(--dark-grey);
        border-right: 1px solid #112a3f;
    }
    .CodeMirror-activeline-background {
        background: #0D2030;
    }
    .cm-s-default .cm-keyword {
        color: #5393a2;
    }
    .cm-s-default .cm-bracket .CodeMirror-matchingbracket {
        text-decoration: #5393a2;
        color: var(--white) !important;
    }

    /* kanban */
    .kanban-board{
        background-color: var(--dark-grey);
    }
    .kanban-column {
        background-color: var(--grey);
    }
    .kanban-column[style*="background-color"] {
        background-color: var(--dark-grey)!important;
        border: 1px solid var(--steel-grey);
    }
    .kanban-card {
        background-color: var(--grey);
        border: 1px solid #44475a;
    }

    /* buttons */
    .dont-focus-block.bp3-button, .dont-unfocus-block .bp3-button {
        background-color: var(--grey)!important;
        border: 0.5px solid var(--steel-grey)!important;
        background-image: none!important;
        color: var(--light-grey)!important;
    }
    .dont-focus-block.bp3-button:hover, .dont-unfocus-block .bp3-button:hover {
        background-color: var(--dark-grey)!important;
        background-image: none!important;
        color: var(--light-grey)!important;
    }
    .bp3-minimal.bp3-button {
        color: var(--light-grey);
    }
    .bp3-minimal.bp3-button:hover {
        color: var(--light-grey);
        background-color: var(--dark-grey)!important;
    }

    /* slider */
    .bp3-slider-progress.bp3-intent-primary {
        background-color: var(--blue);
    }

    /* date picker */
    .bp3-datepicker {
        background-color: var(--grey);
        color: var(--white);
    }
    .bp3-html-select.bp3-minimal select, .bp3-html-select.bp3-minimal select:hover {
        color: var(--white);
        background-color: var(--grey);
    }
    .bp3-datepicker-day-wrapper:hover {
        background-color: var(--dark-grey);
        color: var(--white);
    }

    /* diagram */
    .roam-block div[style*="padding: 10px; flex: 1 0"] {
        background-color: var(--grey);
        color: var(--white);
    }
    .roam-block div[style*="background-color: white"], .roam-block button {
        background-color: var(--grey)!important;
        border: 1px var(--dark-grey) solid!important;
        margin: 5px;
    }
    .roam-block svg[style*="background-color"], .roam-center svg[style*="background-color: rgb(86, 112, 134);"] {
        background-color: var(--dark-grey)!important;
        border: none!important;
    }

    .roam-block rect, .roam-center rect{
        fill: var(--grey);
        stroke: var(--steel-grey);
    }

    /* astrolobe */
    .loading-astrolabe .background, .loading-astrolabe .wand {
        filter: invert(100%);
    }

    /* query */
    .rm-query-title {
        background-color: var(--dark-grey)!important;
        color: var(--green)!important;
    }
    .rm-query {
        border: 1px solid var(--steel-grey);
    }

    /* encrypt */
    .rm-encrypted-block, .rm-encrypted-block input {
        background-color: var(--dark-grey);
    }
    .rm-encrypted-block input {
        border: none;
        padding: 3px;
    }

    /* alias */
    span[style*="background-color: rgb(235, 241, 245); border-radius: 4px; cursor: alias; color: rgb(245, 86, 86); padding: 4px 6px;"] {
        color: var(--pink)!important;
        background-color: var(--grey)!important;
        border: 1px solid var(--dark-grey);
    }

    /* youtube */
    iframe[src*=youtube] {
        border: 2px solid var(--dark-grey);
    }
/* end main elements*/

/* top bar */
    .roam-topbar {
        background-color: var(--grey);
        border-bottom: 1px solid var(--steel-grey);
    }

    .rm-saving-icon .rm-synced {
        background-color: var(--green);
    }
    .rm-saving-icon .rm-saving-remote {
        background-color: var(--orange)!important;
    }
/* end top bar */

/* all pages page */
    .rm-pages-row-highlight {
        background-color: var(--dark-grey);
    }
    .rm-pages-row[style*="background-color"] {
        background-color: var(--black)!important;
    }

    a[style*="black"] {
        color: var(--white)!important;
    }

    .bp3-intent-success {
        color: var(--green)!important;
    }
/* end all pages page */

/* sidebar */
    .roam-body .roam-app .roam-sidebar-container {
        background-color: var(--dark-grey);
        color: var(--pink);
    }

    /* the three built in links */
    .log-button{
        color: var(--purple)!important;
    }
    .log-button:hover {
        background-color: var(--grey)!important;
        color: var(--purple)!important
    }

    .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper {
        color: var(--pink);
    }
    .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
        color: var(--pink) !important;
    }
    .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover {
        background-color: var(--grey);
        color: var(--pink)
    }
/* end sidebar */

/* split right view */
    #right-sidebar {
        border-left: 1px dashed var(--steel-grey);
        padding-left: 5px;
        background-color: var(--grey) !important;
    }

    #right-sidebar .flex-h-box .bp3-button .bp3-minimal .bp3-small {
        color: var(--purple);
    }
/* end split right view */

/* search */
    .rm-search-title {
        color: var(--white)!important;
    }

    .rm-new-page {
        color: var(--green) !important;
    }

    .rm-menu-item[style*="background-color"] {
        background-color: var(--grey)!important;
    }

    .bp3-input:focus {
        box-shadow: none;
        border: 1px solid var(--blue);
    }
/* end search */


/* misc styles*/
/* input fields */
.bp3-input {
    background-color: var(--dark-grey);
    color: var(--light-grey);
}

/* menus */
.bp3-menu {
    background: var(--dark-grey);
}

/* pop overs */
.bp3-popover-arrow-fill {
    fill: var(--dark-grey)!important;
}
.bp3-popover-content a {
    color: var(--light-grey)!important;
}
.bp3-popover-content {
    background: var(--dark-grey)!important;
    color: var(--white)!important;
    padding: 2px;
}

/* Search highlight */
[style*="background-color: yellow"] {
    background-color: var(--steel-grey)!important;
}
i
/* random mask ugh */
.rm-zoom-mask {
    background-color: var(--dark-grey)
}

.zoom-path-view .rm-zoom-mask {
    background-color: var(--grey);
}


/* general catcher for white bg */
[style*="background-color: white; border:"], select[style="background-color: white;"]  {
    background-color: var(--grey)!important;
    border: 0.5px solid var(--steel-grey)!important;
    background-image: none!important;
    color: var(--light-grey)!important;
}

/* calculator?*/
[style="color: rgb(14, 90, 138);"] {
    color: var(--green)!important;
}
